<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <title> Poseidon </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
</head>
<body>
<h3>Homepage</h3>
<ul>
    <li><a th:href="@{/login}">Se connecter</a></li>
    <li><a th:href="@{/user/list}">Gestion des utilisateurs</a></li>
    <li><a th:href="@{/bidList/list}">Bid List</a></li>
    <li><a th:href="@{/curvePoint/list}">Curve Point</a></li>
    <li><a th:href="@{/rating/list}">Rating</a></li>
    <li><a th:href="@{/ruleName/list}">Rule Name</a></li>
    <li><a th:href="@{/trade/list}">Trade</a></li>
</ul>
</body>
</html>